absl-py
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
branca
certifi
cffi
charset-normalizer
colorama
comm
contourpy
crispy-bootstrap5
cycler
dbfread
debugpy
decorator
defusedxml
dj-database-url
Django
django-admin-interface
django-colorfield
django-crispy-forms
django-extensions
djangorestframework
djangorestframework_simplejwt
et_xmlfile
executing
fastjsonschema
folium
fonttools
fqdn
frozenlist
geographiclib
geopy
google
gunicorn
h11
httpcore
httpx
idna
immutabledict
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lark
MarkupSafe
matplotlib
matplotlib-inline
mistune
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openpyxl
ortools
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
python-json-logger
python-slugify
pytz
pywinpty
PyYAML
pyzmq
RapidFuzz
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
Send2Trash
setuptools
wheel
six
soupsieve
sqlparse
stack-data
terminado
text-unidecode
tinycss2
tornado
traitlets
twilio
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
whitenoise
widgetsnbextension
xlsxwriter
xyzservices
yarl
psycopg2-binary
