django-extensions
django-admin-interface
gunicorn
django>=6.0.4
dj-database-url
django-crispy-forms
crispy-bootstrap5
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
twilio
pandas
requests
openpyxl
whitenoise
pre-commit
rapidfuzz
